In [1]:
#1] lists are used to store multiple iteams in a single variable.
#  reversing a list using the reverse() function

In [2]:
# 2] using pop method we will remove last object from list
list1=[2,33,222,14,25]
list1[-1]

25

In [3]:
# 3] append() :
   # add number at last of list.
  # extend() :
  #  join/extend list but as an individual.

In [4]:
# 4]
a=[4,7,8,3,5,2,1,0]
sum=0
print(min(a))
print(max(a))
for i in a:
    sum=sum+i
    print(sum)

0
8
4
11
19
22
27
29
30
30

In [5]:
# 5]  How will you compare two lists?
l1 = [2,33,222,14,15]
l2 = [2,34,54,65,67]
l1.sort()
l2.sort()
if l1==l2:
    print("the both list is same ")
else:
    print("list is not same")

list is not same

In [6]:
# 8)Write a Python program to check a list is empty or not. 
l1 = [2,33,222,222,14,15]
if len(l1) == 0:
    print("list is empty")
else:
    print("list is not empty")

list is not empty

In [7]:
# 6)Write a Python program to count the number of strings where the string 
# length is 2 or more and the first and last character are same from a given 
# list of strings. 
l1 = ['aaa','abd','ace','eye','pip','iot']
count=0
for i in l1:
    if len(i)>2 and i[0] == i[-1]:
        count+=1
print(count)

3

In [8]:
# 7) Write a Python program to remove duplicates from a list. 
l1 = [2,33,222,222,14,15]
print(list(set(l1)))
[33, 2, 14, 15, 222]

[33, 2, 14, 15, 222]

[33, 2, 14, 15, 222]

In [1]:
#  Write a Python function that takes two lists and returns true if they have 
# at least one common member.  
l1 = [2,33,222,222,14,15]
l2 = ['aaa','abd','ace',2]
result = False
for x in l1:
    for y in l2:
        if x==y:
            result = True
print(result)

True

In [2]:
#
str1 = input ("enter the string:")
if len(str1)<2:
    print("enter the string more than length of string")
else:
    str1[0]==str1[-1]
    print(str1)

chintan

In [3]:
#
str1 = input ("enter the string:")
if len(str1)<2:
    print("enter the string more than length of string")
else:
    str1[0]==str1[-1]
    print(str1)

chintu

In [4]:
l1 = list(input("enter the list item:"))
# print(len(l1))
if len(l1)==0:
    print("the list is empty")

In [5]:
def common_num():
    l1 = list(input("enter the list1:"))
    l2 = list(input("enter the list2:"))
    for i in l1:
        for j in l2:
            if i==j:
                return True
    print(l1,l2)
print(common_num())

['1'] ['2']
None

In [7]:
# rite a Python function that takes a list and returns a new list with unique 
# elements of the first list.
def uniqe_list(l):
    x=[]
    for i in l:
        if i not in x:
            x.append(i)
    return x
print(uniqe_list([1,2,3,4,56,7,8,9,0,9,8,7,65,4,4,3,2,1]))
# uniqe_list(l)

[1, 2, 3, 4, 56, 7, 8, 9, 0, 65]

In [8]:
# Write a Python program to convert a list of characters into a string. 
def convert(s):
    new=""
    for i in s:
        new+=i
    return new
print(convert(["c",'h','i','n','t','u']))

chintu

In [9]:
#Write a Python program to select an item randomly from a list. 
import random
list1 =[1,2,3,4,5,6,87,8,6,5,4]
random.choice(list1)

4

In [10]:
# Write a Python program to find the second smallest number in a list. 
list1 =[3,5,6,8,6,6,4,32,2,4,5,6,78,]
list1.sort()
list1[1]

3

In [11]:
#Write a Python program to get unique values from a list 
l=[2,4,5,6,78,9,7,65,4,3,2,4,6,5,4,32,24,56,6,5,4,3]
x=[]
for i in l:
    if i not in x:
        x.append(i)
print(x)

[2, 4, 5, 6, 78, 9, 7, 65, 3, 32, 24, 56]

In [13]:
#Write a Python program to split a list into different variables.
list1 = [1,2,3,4,5,6,7,8,90]
# print(len(list1))
var1=list1[:6]
var2=list1[6:]
print(var1,var2)

[1, 2, 3, 4, 5, 6] [7, 8, 90]

In [15]:
#ï‚· Write a Python program to create a tuple with different data types. 
tup1=(1,2,2.33,"chintu",[1,2,33],(1,2,3),{"chintu":23},{55,5.5,6,6})
print(tup1)

(1, 2, 2.33, 'chintu', [1, 2, 33], (1, 2, 3), {'chintu': 23}, {5.5, 6, 55})

In [16]:
#Write a Python program to convert a tuple to a string. 
tup1=(22,23,2,4,25,26,25,233,3333)
str(tup1)

'(22, 23, 2, 4, 25, 26, 25, 233, 3333)'

In [17]:
#  Write a Python program to check whether an element exists within a 
# tuple. 
tup1=(22,23,2,4,25,26,25,233,3333,22,23,24)
num=int(input("enter the number:"))
for i in tup1:
    if num==i:
        print("enter number is aleredy exist in tuple")
#     else:
#         print("number is not exist")

In [18]:
#  Write a Python program to find the length of a tuple. 
list1 = [1,2,3,4,5,6,7,8,90]
tuple(list1)

(1, 2, 3, 4, 5, 6, 7, 8, 90)

In [19]:
# Write a Python program to reverse a tuple.
tup1=(22,23,2,4,25,26,25,233,3333)
tup1[::-1]

(3333, 233, 25, 26, 25, 4, 2, 23, 22)

In [20]:
# rite a Python program to replace last value of tuples in a list. 
tup1=(22,23,2,4,25,26,25,233,3333)
list1=list(tup1)
list1[-1]=3444
print(tuple(list1))
# print(list1)

(22, 23, 2, 4, 25, 26, 25, 233, 3444)

In [21]:
# Write a Python program to find the repeated items of a tuple. 
tup1=(22,23,2,4,25,26,22,233,3333.35,25)
repeted_items=[]
for i in tup1:
    if tup1.count(i)>1:
        repeted_items.append(i)
print(repeted_items)

[22, 25, 22, 25]

In [22]:
# rite a Python program to remove an empty tuple(s) from a list of tuples. 
def Remove(tuples):
    for i in tuples:
        if(len(i) == 0):
            tuples.remove(i)
    return tuples

In [23]:
# Driver Code
tuples = [(), ('ram', '15', '8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('', ''), ()]
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [24]:
#  Write a Python program to unzip a list of tuples into individual lists. 
l1=[(1,2,3),(4,5,6)]
print(list(zip(*l1)))

[(1, 4), (2, 5), (3, 6)]

In [26]:
#  Write a Python script to concatenate following dictionaries to create a 
# new one. 
dict1 = {1:2,2:3}
dict2 ={2:3,4:5}
dict3={}
for i  in (dict1,dict2):
    dict3.update(i)
print(dict3)

{1: 2, 2: 3, 4: 5}

In [27]:
# Write a Python script to check if a given key already exists in a 
# dictionary.
key=input("enter the key name:")
dic={'1':2,'2':3,'3':4,'3':5,'4':6,'6':7}
if key in dic.keys():
    print("present")
else:
    print("not present")

not present

In [28]:
#  Write a Python script to print a dictionary where the keys are numbers 
# between 1 and 15. 
a=dict()
for i in range(1,16):
    a[i]=i**2
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [29]:
#  How Do You Check The Presence Of A Key In A Dictionary? 
dic={"1":2,'3':4,'4':6,'6':7}
x = input("enter the key ")
# dic.has_key(x)
if x in dic:
    print("present")
else:
    print("not prsent")

not prsent

In [30]:
# How Do You Traverse Through A Dictionary Object In Python? 
dic={"1":2,'3':4,'4':6,'6':7}
for keys,values in dic.items():
    print(keys,values)

1 2
3 4
4 6
6 7

In [31]:
#  Write a Python program to combine two dictionary adding values for 
# common keys. 
# d1 = {'a': 100, 'b': 200, 'c':300} o d2 = {'a': 300, 'b': 200,â€™dâ€™:400} 
# Sample output: Counter ({'a': 400, 'b': 400,â€™dâ€™: 400, 'c': 300}). 
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200,'d':400} 
# print(d1.get("a"))
c = {i: d1.get(i, 0) + d2.get(i, 0)
     for i in set(d1).union(d2)}
print(c)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [32]:
# Write a Python program to print all unique values in a dictionary. 
d2 = {'a': 300, 'b': 200,'d':400,'a': 300, 'b': 200,'d':400}  

print(d2.keys())

dict_keys(['a', 'b', 'd'])

In [33]:
# selecting each letter from a different key in a dictionary. 
d1={'1': ['a','b'], '2': ['c','d']} 
for x in d1["1"]:
    for y in d1["2"]:
        print(x+y)

ac
ad
bc
bd

In [34]:
#  Write a Python program to find the highest 3 values in a dictionary 
d1={'a': 300, 'b': 200,'dc':400,'e': 500, 'f': 800,'g':100}
d2=list(d1.values())
# print(d2)
d2.sort()
print(d2[-3:])

[400, 500, 800]

In [35]:
#  Write a Python function to calculate the factorial of a number (a nonnegative integer) 
def factorial(n):
    fact=1
    for i in range(2,n+1):
        fact=fact*i
    return fact
n=int(input("enter factorial number:"))
print(factorial(n))

15511210043330985984000000

In [36]:
# Write a Python function to check whether a number is in a given range
num=int(input("enter the number"))

if num in range(0,45):
    print("the number is in range")
else:
    print("the number is not given in range")

the number is in range

In [37]:
# Write a Python function to check whether a number is perfect or not. 

n= int(input("enter the number"))
sum = 0
for i in range(1,n):
    if n % i==0:
        sum= sum +i
    print(sum)

1
1
1
1

In [38]:
# Write a Python function that checks whether a passed string is 
# palindrome or not
def palindrome(x):
    if x ==x[::-1]:
        print("it is palindrome")
    else:
        print("not")
x=input("enter the string:")
print(palindrome(x))

not
None

In [39]:
n = int(input("enter the number"))
sum=0
for i in range(1,n+1):
    if n%i==0:
        sum+=i
print(sum)

93

In [41]:
r = float(input("enter the radious of thr cylinder"))
h = float(input("enter the height of the cylinder"))
volume_of_cylinder= (3.14)*r*r*h
surface_of_area= 3.14*2*r*r +2*3.14*r*h
print(volume_of_cylinder,surface_of_area)

3.14 12.56

In [42]:
# area of parallelogram
b=float(input("enter the value of basse"))
h=float(input("enter the value of height"))
area=b*h
print(area)

400.0

In [43]:
# area of trapezoid
b1=float(input("enter the number"))
b2=float(input("enter the number"))
h=float(input("enter the number"))
a=(b1+b2)*h/2
print(a)

450.0

In [44]:

# coversion of degree to radian
from math import pi
degree=float(input("enter the number"))
radian = degree*pi / 180
print(radian)

0.03490658503988659